<h2>Productos:</h2>
<form id="formulario">
   Producto: <input type="text" name="producto" id="producto">
  <input type="submit" value="Agregar producto">

</form>

<div id="divproductos"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>